@using LunaEpi.Models.ViewModels
@using LunaEpi.Models.Pages
@model PageViewModel<ArticlePage>

<h1 @Html.EditAttributes(m => m.CurrentPage.MetaTitle)>
    @(Model.CurrentPage.MetaTitle ?? Model.CurrentPage.Name)
</h1>

@section ImageContent
    {
    <div @Html.EditAttributes(x => x.CurrentPage.PageImage)>
        <img src="@Url.ContentUrl(Model.CurrentPage.PageImage)" class="imageResize" />
    </div>
}

<div class="row">
    <div class="span8">
        @Html.PropertyFor(m => m.CurrentPage.MainBody)
    </div>
</div>