@using LunaEpi.Models.Pages
@using LunaEpi.Models.ViewModels

@model PageViewModel<SitePageData>
<section class="area">
    <div class="border span12">
        <div class="border">
            <a href="@Url.ContentUrl(Model.CurrentPage.ContentLink)">
                <h2 @Html.EditAttributes(x => x.CurrentPage.Name)>
                    @Model.CurrentPage.Name
                </h2>
                <p class="introduction"
                   @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>
                    @Model.CurrentPage.MetaDescription
                </p>
            </a>
        </div>
    </div>
    </section>